* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.swiper-wrapper {
	align-items: stretch;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               Banner               */
/* ********************************** */

.landing-section {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.landing-slider-container {
	width: 100%;
	height: 100%;
}

.landing-slider-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landing-controller {
	bottom: 20px;
	right: 20px;
	z-index: 99;
	position: absolute;
}

.landing-bg {
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	position: absolute;
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, 0.15),
			rgba(0, 0, 0, 0.6));
	pointer-events: none;
}

.landing-bg-item {
	width: 100%;
	height: 100%;
}

.landing-txt-cont {
	top: 50%;
	color: #fff;
	margin-top: -80px;
	padding-left: 100px;
	position: absolute;
}

.landing-subtitle {
	font-weight: 600;
	font-size: 30px;
}

.landing-title {
	font-size: 70px;
}

/* ********************************** */
/*               Features             */
/* ********************************** */
.resturant-features-container {
	width: 100%;
	padding: 30px 0;
}

.resturant-features-container-item {
	width: 90%;
	justify-content: space-between;

}

.rFeature-card {
	gap: 20px;
	width: calc(100% / 3.5);
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 20px;
	align-items: center;
}

.rFeature-card svg {
	font-size: 45px;
}


















/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* FEATURES */


/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.menu-categories {
	width: 100%;
	height: fit-content;
	/* padding: 50px 0; */
	padding-top: 0px;
}

.menu-categories .swiper-slide {
	width: calc((100% - 100px) / 5);
	display: flex;
	justify-content: center;
}

.menu-categories-item {
	width: 90%;
}

.menu-cat-header-container {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 30px;
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

/* Menu */
.menu-container {
	width: 100%;
	padding: 50px 0;
	padding-top: 20px;
}

.menu-container .swiper-slide {
	width: calc((100% - 100px) / 4);
	display: flex;
	justify-content: center;
}

.menu-item {
	width: 90%;
}

.menu-header-container {
	padding: 40px 0;
}

.menu-tags-container {
	padding-bottom: 40px;
}

.menu-selection-tag {
	color: #777;
	font-weight: 600;
	padding: 0.7rem 3rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
	font-size: 1.2rem;
	background-color: #E8DCCD;
	border: 1px solid var(--primary-color);
}

.menu-tags-container {
	gap: 20px;
	justify-content: center;
}

.menu-selection-tag:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.menu-selection-tag.active {
	background-color: var(--primary-color);
	color: #fff;
}


/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

/*  */

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery-conatiner {
	width: 100%;
	height: 90vh;
}

.gallery-img-container {
	width: 30%;
	justify-content: space-between;
}

.gallery-vid-container {
	width: 40%;
}

.gallery-img-container img {
	width: 100%;
	height: 49%;
}

.galler-video {
	width: 95%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.gallery-img-1,
.gallery-img-2 {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.gallery-img-4,
.gallery-img-5 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.special-menu {
	display: flex;
	width: 100%;
}

.special-menu-item {
	width: 90%;
}

.special-menu-header {
	padding: 50px;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: var(--dark-color);
}

/* About Sections */
.about-header-section {
	width: 100%;
}

.about-header-item {
	width: 90%;
	padding: 50px;
}

.about-heading {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
}

.about-section {
	width: 100%;
	height: 70vh;
}

.about-section-item {
	width: 90%;
	height: 90%;
}

.about-media-item,
.about-txt-item {
	width: 50%;
	height: 100%;
}

.about-mm-container {
	width: 90%;
	height: 90%;
}

.about-video {
	width: 290px;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.about-mm-photo {
	width: calc(100% - 290px);
	height: 100%;
}

.about-img-cont {
	height: 50%;
}

.about-img-1,
.about-img-2,
.about-img-3,
.about-img-4 {
	width: 50%;
	height: 100%;
}

.about-img-2 {
	border-top-right-radius: 10px;
}

.about-img-4 {
	border-bottom-right-radius: 10px;
}

.about-txt-div {
	width: 80%;
	font-size: 20px;
}

.about-benneuluru {
	font-size: 2rem;
	font-weight: 600;
}


/* Address */
.address-container {
	width: 100%;
	height: 40vh;
}

.address-item {
	width: 90%;
	height: 90%;
	color: var(--white);
	border-radius: 10px;
	background-color: var(--primary-color);
}

.address-txt-item,
.address-map-item {
	width: 50%;
	height: 100%;
}

.address-map-iframe {
	width: 400px;
	height: 80%;
}

.address-txt-box {
	gap: 20px;
	width: 80%;
	height: 80%;
}

.address-txt-div {
	gap: 10px;
}

.address-txt-p {
	font-size: 18px;
	font-weight: 600;
	vertical-align: middle;
}

.address-txt-p a {
	color: var(--white);
	text-decoration: none;
}

.address-txt-svg {
	margin-top: 4px;
	font-size: 25px;
}

.video-section-container {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.video-section-item {
	width: 90%;
	height: 80%;
	justify-content: space-between;
}


.video-card {
	width: calc(100/4);
	height: 90%;
	/* border-radius: 10px; */
}

.video-card-bg {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/* ********************************** */
/*       MEDIA QUERIES -- 1920px       */
/* ********************************** */
@media screen and (max-width:1920px) {

	.video-section-container {}

	.video-card {
		width: calc(100% / 4.5);
	}

	.video-card-bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.address-map-iframe {
		width: 90%;
		height: 80%;
	}
}


@media screen and (max-width: 1280px) {
	.menu-tags-container {
		flex-wrap: wrap;
	}

	.swiper-slide {
		width: calc((100% - 100px) / 3);
		display: flex;
		justify-content: center;
	}

	.menu-selection-tag {
		font-size: 1rem;
	}

	.about-txt-div {
		font-size: 16px;
	}

}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 600px) {
	.landing-section {
		height: 90vh;
	}

	.landing-section .swiper {
		width: 100%;
		height: 100%;
	}

	.landing-txt-cont {
		padding-left: 10px;
	}

	.landing-title {
		font-size: 40px;
	}

	.landing-subtitle {
		font-size: 16px;
	}

	.menu-tags-container {
		gap: 10px;
		flex-wrap: wrap;
	}




















	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more {
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul {
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer {
		grid-template-columns: 1fr;
	}

	.content p {
		font-size: 1.6rem;
	}
}