.social {
    right: 0;
    top: 50%;
    width: fit-content;
    position: fixed;
    height: fit-content;
    z-index: 9999;
    transform: translateY(-50%);
    padding: 15px 10px;
    /* background-color: #fff; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
}

.social-item {
    gap: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
}

@media screen and (max-width:600px) {
    .social{
        padding: 10px;
    }
    .social-icon {
        width: 25px;
        height: 25px;
    }
}