.footer {
	color: #fff;
	background-color: #000;
}

.footer-item{
	width: 90%;
	padding: 20px 0;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.3rem;
}
