.footer {
	color: #fff;
	background-color: #000;
}

.footer-item {
	width: 90%;
	padding: 20px 0;
}

.footer-link-container {
	width: 100%;
}

.footer-link-card {
	width: 100%;
	padding-bottom: 20px;
}

.footer-link-card ul {
	list-style: none;
	justify-content: space-between;
}

.footer-link-card ul li a {
	color: #fff;
}

.footer-link-card ul li a:hover {
	color: gray;
}

.copyright {
	display: flex;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1rem;
}