.product-card {
	width: 350px;
	height: 500px;
	border-radius: 0.5rem;
	cursor: pointer;
}

.product-card-img-container {
	width: 350px;
	height: 332px;
}

.product-card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.product-card-txt-conatiner {
	padding: 10px;
}



.product-card-description {
	color: var(--secondary-color);
}


.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.product-card-description {
	width: 100%;
}

@media screen and (max-width:1560px) {
	.product-card {
		width: 250px;
		height: fit-content;
		font-size: 14px;
	}

	.product-card-img-container {
		width: 250px;
		height: 250px;
	}

	.product-card-img {
		width: 250px;
	}
}

@media screen and (max-width:1280px) {
	.product-card {
		width: 250px;
	}
}

@media screen and (max-width:600px) {
	.product-card {
		width: 150px;
		font-size: 10px;
		height: fit-content;
	}

	.product-card-img-container {
		width: 150px;
		height: 150px;
	}

	.product-card-img {
		width: 100%;
		height: 100%;
	}
}