.navbar {
	top: 0;
	z-index: 999;
	width: 100%;
	height: 150px;
	background-color: transparent;
	position: absolute;
}

.navbar-item {
	width: 90%;
	height: 100%;
	align-items: center;
	justify-content: center;
	/* justify-content: space-between; */
}

.logo {
	width: 150px;
	height: 140px;
	object-fit: contain;
}

@media screen and (max-width:1280px) {}

@media screen and (max-wisth: 600px) {
	.navbar {
		height: 120px;
	}
	.logo{
		height: 100px;
	}
}